* {
	margin:0;
	padding:0px;
}
body {
	background:#fff url(images/bg.gif) repeat-x;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	color:#666;
}

#wrap {
	width:927px;
	margin:25px auto 25px auto;
}

#wrap #header #sitename {
	color:#fff;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:58px;
	font-weight:normal;
	display:block;
	padding-top:140px;
	text-align:right;
	padding-right:50px;
}

#sitename a, #sitename a:visited, #sitename a:active{
	color:#fff;
	text-decoration:none;
}

#sitename a:hover{
	color:#000;
	text-decoration:none;
}

#header {
	background:url(images/header.jpg) no-repeat;
	height:250px;
}

#page {
	padding:0 10px 0 10px;
}

#page #menu {
	float:left;
	width:269px;
	height:382px;
}

#page #content {
	margin:0 0 0px 275px;
	padding:0 20px 0 5px;
}

.browsecat {
	float:left;
	width:30%;
	padding:5px 6px 8px 6px;
	margin-left:10px;
	border:solid 1px #F3ECBE;
	background:#FBFAF0;
}


#wrap #page #menu{
	padding:65px 45px 0 40px;
	display:block;
}

#sidemenu {
	background-color: #06BB2D;
	border-radius: 10px;
	display:block;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding:0px 20px 0px 10px;
	height: 60px;
}

#sidemenu ul {
	float: left;
	height: 40px;
	list-style:none;
	padding: 2px 10px 0px 10px;
}

#sidemenu li {
	float: left;
	height:26px;
	border-top:solid 2px #DFCD95;
	padding: 10px 10px 10px 40px;
}

#sidemenu a {
	color:#DFCD95;
	float: left;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: bold;
	height:40px;
	padding:5px;
	text-align: center;
	text-decoration: none;
}

#sidemenu a:visited {
	display:block;
	height:20px;
	padding:5px 5px 0 5px;
	color:#DFCD95;
	text-decoration:none;
} 

#sidemenu a:active {
	background:black;
}

#sidemenu a:hover{
	background:#ffffcc;
	border-bottom:solid 3px #DFCD95;

}

#footercontent {
	margin:5px;
	border-top:solid 1px #EBE6B4;
	padding-top:15px;
}

#footer {
	background:url(images/footer.jpg) repeat-x;
	height:105px;
	text-align:center;
}

#footer a, #footer a:visited, #footer a:active {
	color:#f93757;
	text-decoration:none;
}

#footer p {
	font-size:11px;
	padding:7px;
}

.textfield {
	display:block;
	float:left;
	width:65%;
	background-color:#F3F4E8;
	margin:3px 3px 3px 30px;
	padding:3px;
	border:1px solid #D6D9AE;
	clear:right;
}

label {
	display:block;
	float:left;
	text-align:right;
	font-weight:bold;
	width:20%;
	margin:3px;
	padding:5px;
}

.button {
	display:block;
	padding:0px;
	background-color:#E3E6C8;
	margin:3px;
	border:2px solid #efefef;
	color:#000;
}

.textfield:hover {
	background:#FBFCF8;
}

.textfield:focus {
	background:#fff;
}

#content .clear2 {
	clear:right;
	width:90%;
}

.hide {
	display:none;
}

#content table {
	margin:10px;
	width:500px;
	border:solid 1px #BDDB99;
}

#content th {
	background:#DFEDCD;
	padding:5px 15px 5px 15px;
	color:#999933;
	font-weight:bold;
	text-align:center;
	border-bottom:1px solid #BDDB99;
}

#content td {
	border-bottom:1px solid #DFEDCD;
	padding:5px 15px 5px 15px;
	border-right:1px solid #DFEDC;
}
